@import "tailwindcss";

body{
    background: #0b0b0b;
}

.sidebar {
  width: 70px;
  height: 100vh;
  background-color: #20232a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: #fff;
}

.icon-wrapper:hover {
  background-color: #3d4451;
  transform: scale(1.1);
}

.divider {
  width: 40px;
  border: 0.5px solid #444;
  margin-bottom: 15px;
}
